{
  "name": "Portfolio",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "ftp"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7881,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "public_html/",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.stackcp.com",
      "port": 21,
      "user": "andrzej-lichon.pl",
      "password": "6c46cc22ba84"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts",
      ".gitattributes"
    ],
    "history": [
      {
        "file": "fonts/NEON.otf",
        "ctime": "2018-06-12T09:52:30.414Z",
        "mtime": "2018-06-12T09:52:30.414Z",
        "size": 21596
      },
      {
        "file": "fonts/Rubber.ttf",
        "ctime": "2018-06-12T09:52:30.414Z",
        "mtime": "2018-06-12T09:52:30.414Z",
        "size": 63060
      },
      {
        "file": "img/automobile.jpg",
        "ctime": "2018-06-12T09:52:30.414Z",
        "mtime": "2018-06-12T09:52:30.414Z",
        "size": 194205
      },
      {
        "file": "img/background-box.jpg",
        "ctime": "2018-06-12T09:52:30.414Z",
        "mtime": "2018-06-12T09:52:30.414Z",
        "size": 129531
      },
      {
        "file": "img/background-org.svg",
        "ctime": "2018-06-12T09:52:30.429Z",
        "mtime": "2018-06-12T09:52:30.429Z",
        "size": 145852
      },
      {
        "file": "img/background.png",
        "ctime": "2018-06-12T09:52:30.429Z",
        "mtime": "2018-06-12T09:52:30.429Z",
        "size": 656205
      },
      {
        "file": "img/background.svg",
        "ctime": "2018-06-25T12:27:01.370Z",
        "mtime": "2018-06-25T12:27:01.370Z",
        "size": 146342
      },
      {
        "file": "img/colorGame.jpg",
        "ctime": "2018-06-12T09:52:30.445Z",
        "mtime": "2018-06-12T09:52:30.445Z",
        "size": 81836
      },
      {
        "file": "img/facebook.svg",
        "ctime": "2018-06-12T09:52:30.445Z",
        "mtime": "2018-06-12T09:52:30.445Z",
        "size": 769
      },
      {
        "file": "img/github.svg",
        "ctime": "2018-06-12T09:52:30.445Z",
        "mtime": "2018-06-12T09:52:30.445Z",
        "size": 3910
      },
      {
        "file": "img/jarzebak.jpg",
        "ctime": "2018-06-12T09:52:30.445Z",
        "mtime": "2018-06-12T09:52:30.445Z",
        "size": 138534
      },
      {
        "file": "img/linkedin.svg",
        "ctime": "2018-06-12T09:52:30.460Z",
        "mtime": "2018-06-12T09:52:30.460Z",
        "size": 961
      },
      {
        "file": "img/me.jpg",
        "ctime": "2018-06-12T09:52:30.460Z",
        "mtime": "2018-06-12T09:52:30.460Z",
        "size": 85782
      },
      {
        "file": "img/patatap.jpg",
        "ctime": "2018-06-12T09:52:30.460Z",
        "mtime": "2018-06-12T09:52:30.460Z",
        "size": 53372
      },
      {
        "file": "img/todo.jpg",
        "ctime": "2018-06-12T09:52:30.460Z",
        "mtime": "2018-06-12T09:52:30.460Z",
        "size": 71371
      },
      {
        "file": "img/weatherApp.jpg",
        "ctime": "2018-06-12T09:52:30.476Z",
        "mtime": "2018-06-12T09:52:30.476Z",
        "size": 141781
      },
      {
        "file": "index.html",
        "ctime": "2018-06-25T15:04:15.448Z",
        "mtime": "2018-06-25T15:04:15.448Z",
        "size": 6156
      },
      {
        "file": "scripts/emailScripts.js",
        "ctime": "2018-06-12T09:52:30.476Z",
        "mtime": "2018-06-12T09:52:30.476Z",
        "size": 4361
      },
      {
        "file": "scripts/script.js",
        "ctime": "2018-06-25T15:03:10.373Z",
        "mtime": "2018-06-25T15:03:10.373Z",
        "size": 9106
      },
      {
        "file": "send-script.php",
        "ctime": "2018-06-12T09:52:30.492Z",
        "mtime": "2018-06-12T09:52:30.492Z",
        "size": 1383
      },
      {
        "file": "style/css.css",
        "ctime": "2018-06-25T19:10:52.710Z",
        "mtime": "2018-06-25T19:10:52.710Z",
        "size": 15735
      },
      {
        "file": "style/loader.css",
        "ctime": "2018-06-12T09:52:30.492Z",
        "mtime": "2018-06-12T09:52:30.492Z",
        "size": 1880
      },
      {
        "file": "img/background.jpg",
        "ctime": "2018-06-12T10:27:05.339Z",
        "mtime": "2018-06-12T10:27:05.339Z",
        "size": 161592
      },
      {
        "file": "img/webdesign.jpg",
        "ctime": "2018-06-12T20:16:05.444Z",
        "mtime": "2018-06-12T09:52:30.460Z",
        "size": 129725
      },
      {
        "file": "img/beautifulgallery.jpg",
        "ctime": "2018-06-15T17:37:55.553Z",
        "mtime": "2018-06-15T17:37:55.553Z",
        "size": 74123
      },
      {
        "file": "scripts/perfect-scrollbar.min.js",
        "ctime": "2018-06-25T12:33:26.104Z",
        "mtime": "2018-06-06T20:08:40.000Z",
        "size": 18291
      },
      {
        "file": "style/perfect-scrollbar.css",
        "ctime": "2018-06-25T13:11:47.252Z",
        "mtime": "2018-06-25T13:11:47.252Z",
        "size": 2598
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}