
@font-face {
    font-family: "rubber";
    src: url("../fonts/Rubber.ttf");
}

@font-face {
    font-family: "neon";
    src: url("../fonts/NEON.otf");
}


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-family: neon, lato, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	background-color: #777;
}



.background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    filter: grayscale(80%);
}

object {
 height: 101%;
 width: 100%;  
}

.backupBG {
    background-image: url('../img/background.png');
    height: 100%;
    width: 100%;
    opacity: 0.7;
}



.box {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px double #000;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.8);
    z-index: 2;
    top: 50vh;
    transform: translateY(-50%);
    background-image: url('../img/background-box.jpg');
    background-size: 450%;
    background-repeat: no-repeat;
    background-position: center center;
    background-clip: border-box;
    filter: grayscale(10%);
}

.box:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    
}

.box-inner {
    display: flex;
    height: 250px;
    width: 100%;
    flex-direction: column;
    align-self: center;
    z-index: 3;



}


.box-row p {
    font-family: "rubber", helvetica, sans-serif;
    font-size: 4rem;
    padding: 0;
    margin: 0;
    text-align: center;

}

.box-row:first-child {
    letter-spacing: 4px;

}

hr {
    overflow: visible;
    width: 85%;
    padding: 1px;
    border: none;
    border-top: 3px double #000;
    color: #000;
    text-align: center;
    margin: auto;
}

.box-row--small p {
    font-family: "NEON", helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    padding: 0;
    margin: 0;

}



nav .nav {
    z-index: 100;
    opacity: 1;
    filter: grayscale(20%);
    display: flex;
    overflow: hidden;
    color: #fff;
}



.inner {
    transition: opacity 1s;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5%;
    padding-top: 1%;
    opacity: 0;
    

}

/* .visible {
    opacity: 0;
} */

.inner .title {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 1.1em;
    background-color: transparent;
    padding: 0;
    margin: -15px 0;
    z-index: 200;
}


.one {
    position: absolute;
    left: 50%;
    top: 0;
    width: 0%;
    height: 100vh;
    background-color: rgba(15, 39, 128, 0.89);

}

.one .inner {
    overflow: auto;
    margin-top: 75px;
}

.one .inner h2{
    padding-top: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 280px;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    border: 4px double #111;
    border-radius: 0px;
    transition: 0.5s all;
    background-color: #b1dfe88f;
    box-shadow: 2px 2px 6px 3px #1d1d1d;
}

.container-title, .container-description{
    
    font-family: 'Lato', 'Roboto', sans-serif;
    font-weight: 300;
    height:50px;
    text-align: center;
}

.container-title{
    text-transform: uppercase;
    
}

.container a {
    width: 100%;
    height:200px;
    display: inline-block;
    overflow: hidden;
    position: relative;

}

.thumbnail-container {
    position: relative;
    margin: 0 auto;
    border: 1px solid #313131;
    width: 96%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container:hover {
      transform: scale(0.99);
      box-shadow: 1px 1px 2px 2px #1d1d1d;
  }

  .container:hover .container-description{
    opacity: 1;    
}

  .container-description{
   height: fit-content;
   opacity: 0;
   transition: 0.5s all;
  }

  .container-description p {
    color: #fff;
    position: relative;
    z-index: 2;
    padding: 0 10px;
  }

  .container-description::before {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba(43, 40, 56, 0.8);
  }




.two {
    position: absolute;
    right: 50%;
    bottom: 50%;
    width: 50%;
    height: 0vh;
    background-color: rgba(4, 70, 109, 0.85);
}

.two .inner {
    padding-top: 5%;
    overflow: auto;
}

.two .about {
    width: 100%;
    display: flex;
    padding: 5px;
    margin: 0;

}

.two .about-description {
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
}

.two .about-description p {
    padding: 0 7%;
	font-family: lato, sans-serif;
}

.two .head {
    width: 30%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.two  .header {
    font-size: 1.3em;
    padding: 0;
    margin: -5% 0;
    position: relative;
}

.two .photo {
    background-image:url("../img/me.jpg");
    background-size: 140%;
    background-position: 40% 30%;
    width:90%;
    border-radius:50%;
    border:2px solid #000;
    margin: auto;
    box-shadow:1px 1px 6px 3px #1d1d1d;
    transition: 0.5s all;
}


.two .photo:hover {
    transform: scale(0.99);
    box-shadow: 1px 1px 2px 2px #1d1d1d;
}


.two .photo::after {
    content:"";
    padding-bottom:100%;
    display:block;
}





.three {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 0%;
    height: 50vh;
    background-color: rgba(82, 22, 22, 0.75);
}

.three .inner {
    display: block;
    text-align: center;
    font-family: lato, sans-serif;
    overflow: auto;
}

.three form {
    margin-top: 30px;
    margin-bottom: 20px;
}

.three .inner form label {
    display: block;
    margin-top: 15px;
}

.three input, .three textarea {
    width: 80%;
    border: 3px double #444;
    border-radius: 0px;
    font-family: lato, sans-serif;
    height: 30px;
    padding: 5px 10px;
}

.three textarea {
    height: 60px;
}

.three button[type='submit']{
    color: #111;
    width: 80%;
    height: 30px;
    background-color: #DF9E98;
    border: 2px solid #DF9E98;
    font-size: 0.9em;
	cursor: pointer;
    margin-top: 10px;
    box-shadow:1px 1px 6px 3px #1d1d1d;
    transition: 0.5s all;
}

.three button[type='submit']:hover{
    transform: scale(0.99);
    box-shadow: 1px 1px 2px 2px #1d1d1d;
}

.three input:focus, .three textarea:focus{
    outline: 2px solid #274bdc;
}

.four {
    position: absolute;
    right: 75%;
    bottom: 25%;
    width: 25%;
    height: 0vh;
    background-color: rgba(70, 74, 3, 0.6);
}

.four .inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
}


.four a img {
    height: 10vh;
}

.invert:hover {
    filter: invert(100%);
}

.five {
    position: absolute;
    left: 12.5%;
    top: 75%;
    width: 0%;
    height: 25vh;
    background-color: rgba(58, 3, 49, 0.4);
}

.six {
    position: absolute;
    right: 87.5%;
    bottom: 12.5%;
    width: 12.5%;
    height: 0vh;
    background-color: rgba(1, 45, 43, 0.3);
}



.seven {
    position: absolute;
    left: 6.25%;
    top: 87.5%;
    width: 0;
    height: 12.5vh;
    background-color: rgba(4, 1, 23, 0.2);
}



.seven p {
    display: none;
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: lato, sans-serif;
    font-size: 1em;    
}

#btn {
    position: absolute;
    border: none;
    bottom: 0;
    height: 12.5vh;
    width: 6.25%;
    left: 0;
    background-color: black;
    color: #fff;
    font-size: 3em;
    z-index: 999;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transform-origin: left bottom;

}

.pulse {
    animation: pulse 2s ease infinite;
}

button:focus {
    outline: 0;
}




.form input[type=email].error,
.form textarea.error,

.field-error {
    color:#ff0000;
}

.form .send-error {
    display:inline-block;
    color:#ff0000;
}
.form-send-success {
    text-align:center;
    border:1px solid #eee;
    color:#fff;
    padding:1rem 0;
    margin:1rem auto;
}

.element-is-busy {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}
.element-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 100;
}
@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes pulse {
    10% {
        transform: scale(1);
    }
    45% {
        transform: scale(1.03);
    }
    80% {
        transform: scale(1.0);
    }
}


@media (max-width: 900px) {
 
    body {
        overflow: auto;
    }
    
    #btn {
        display: none;
    }
    
    nav {
        display: flex !important;
        width: 100% !important;
        flex-direction: column !important;
    }
 
    .nav {
/*     display: flex !important;*/
     width: 100% !important;
     position: static !important;
     height: 100% !important;
     overflow: visible !important; 
     }

    .nav .inner a img{
        position: relative;
        height: 80px;
    }
    
    main {
        height: 100vh;
    }
    
     .inner {
         opacity: 1 !important;
         padding: 30px 0;
     }
    
    .one .inner {
        margin-top: 0;
    }
    
    
    .inner .title {
        position: relative;
        padding: 20px 0;
    }

    .one {
        order: 2;
    }
    .two{
        order: 1;
    }
    
    .two .about {
        
    }
    
    .three{
        order: 4;
    }
    .four{
        order: 3;

    }
    .five{
        order: 5;
        display: none !important;
    }
    .six {
        order: 6;
        display: none  !important;
    }
    .seven{
        order: 7;
    }
    .seven p {
        display: block;
    }
    
}